@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <a class="footer__logo" href="index.html">
            <img src="./images/logo.png" alt="Граніт логотип">
          </a>
          <ul class="footer__menu">
            <li class="footer__menu-item">
              <a class="footer__menu-link hover-link active" href="#">Головна</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link hover-link" href="#">Пам’ятники</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link hover-link" href="#">Дизайн пам’ятнику</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link hover-link" href="#">Інші види робіт</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link hover-link" href="#">Статті</a>
            </li>
          </ul>
          <div class="footer__phones">
            <a class="footer__phone hover-link" href="tel:380979271652">+380979271652</a>
            <a class="footer__phone hover-link" href="tel:380668664271">+380668664271</a>
          </div>
          <div class="footer__contacts">
            <div class="footer__times">
              <p class="footer__time">Пн-Пт 9:00-18:00;</p>
              <p class="footer__time">Сб 9:00-15:00;</p>
            </div>
            <div class="footer__location">
              <a class="footer__location-address hover-link" href="#">Львівська область,<br>с. Млиниська, <br>вул. Івана
                Франка,8</a>
            </div>
            <ul class="footer__socials">
              <li class="footer__socials-item">
                <a class="footer__socials-link hover-link" href="#" target="_blank" aria-label="Вайбер">
                  <svg width="42" height="47" viewBox="0 0 42 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20 1.00007C16.6732 1.04351 9.0004 2.02973 4.99996 6.00007C2.02425 9.18979 1.12174 13.1686 0.999962 19.0001C0.898915 24.8105 1.2774 36.029 11 39.0001V44.0001C11 44.0001 10.8936 45.6287 12 46.0001C13.3628 46.4668 13.7045 44.4968 15 43.0001L18 41.0001C24.6522 41.5985 29.4131 40.2047 30 40.0001C31.3498 39.5334 39.7576 37.9132 41 27.0001C42.2747 15.7295 39.4213 8.21221 36 5.00007C34.9675 3.97139 31.2704 1.0365 22 1.00007C22 1.00007 21.1063 0.979044 20 1.00007ZM20 4.00007C20.9444 3.99306 22 4.00007 22 4.00007C29.8467 4.02249 33.1164 7.13957 34 8.00007C36.8811 10.6712 39.0869 16.5907 38 26.0001C36.9675 35.1236 30.1413 35.6063 29 36.0001C28.5142 36.1682 23.6534 37.3939 18 37.0001C18 37.0001 14.3162 42.5846 13 44.0001C12.7914 44.2481 12.1554 45.0365 12 45.0001C11.7771 44.9412 11.987 44.4093 12 44.0001V36.0001C3.75424 33.5335 3.91187 24.8617 3.99996 20.0001C4.10101 15.1384 5.48933 10.6937 7.99996 8.00007C11.3799 4.69402 17.1732 4.02249 20 4.00007ZM21 9.00007C20.9321 8.99933 20.0629 8.97252 20 9.00007C19.937 9.02761 20.0483 8.94848 20 9.00007C19.9517 9.05166 20.0262 8.93236 20 9.00007C19.9737 9.06777 20.0001 9.92665 20 10.0001C20 10.314 20.7163 10.0001 21 10.0001C22.2844 9.97364 23.8049 10.4901 25 11.0001C26.1951 11.51 27.078 12.0322 28 13.0001C29.8823 14.9775 30.965 17.5258 31 21.0001C31 21.307 30.7098 22.0001 31 22.0001C31.1367 22.0004 31.9027 22.104 32 22.0001C32.0973 21.8961 31.9986 21.148 32 21.0001C32.0629 19.3648 31.5382 17.5297 31 16.0001C30.4617 14.4704 30.0522 13.1761 29 12.0001C26.9492 9.83201 24.056 9.00007 21 9.00007ZM14 10.0001C13.6333 9.9421 13.319 10.7961 13 11.0001C12.2593 11.4697 11.569 11.3046 11 12.0001C10.5271 12.5915 10.0673 13.4241 9.99996 14.0001C9.9598 14.3434 9.90539 14.6721 9.99996 15.0001C10.5324 16.693 11.1501 18.4669 12 20.0001C13.0947 22.154 14.4337 24.2193 16 26.0001C17.652 27.6995 20.005 29.8065 22 31.0001C24.28 32.3427 26.1696 32.7366 27 33.0001C27.2435 33.0799 26.7771 33.0001 27 33.0001C27.7077 32.944 28.4746 32.5161 29 32.0001C29.64 31.3844 30.5762 30.8052 31 30.0001C31.3977 29.19 30.5739 28.5186 30 28.0001C28.8506 26.9132 28.3193 25.8307 27 25.0001C26.1164 24.4815 25.364 24.4745 25 25.0001L24 26.0001C23.6022 26.5256 23 27.0001 23 27.0001C17.6095 25.5103 16 19.0001 16 19.0001C16 19.0001 15.5012 18.4093 16 18.0001L17 17.0001C17.465 16.5908 17.4987 15.9573 17 15.0001C16.2374 13.5708 16.0054 12.2411 15 11.0001C14.7802 10.7075 14.3424 10.0704 14 10.0001ZM22 12.0001C21.3121 12.0001 21.3056 13.0001 22 13.0001C22.8553 13.0151 23.2151 13.6319 24 14.0001C24.7849 14.3682 25.4052 14.3349 26 15.0001C26.5425 15.6476 27.7334 17.1751 28 18.0001C28.2665 18.825 28.0515 19.1279 28 20.0001C28.0023 20.1477 27.9029 20.8963 28 21.0001C28.0971 21.1038 27.8635 20.9994 28 21.0001C28.1374 20.999 28.9028 21.1052 29 21.0001C29.0972 20.8949 28.9989 20.1488 29 20.0001C29.0466 17.7731 28.2553 16.4968 27 15.0001C25.7382 13.5033 24.2476 12.1668 22 12.0001ZM22 15.0001C21.2913 14.9776 21.2978 15.9776 22 16.0001C23.7074 16.0954 24.8911 17.0801 25 19.0001C25.0023 19.1458 24.9041 19.8976 25 20.0001C25.0958 20.1025 25.8652 19.9994 26 20.0001C26.0692 19.9969 25.9372 20.032 26 20.0001C26.0627 19.9681 25.9535 20.0558 26 20.0001C26.0464 19.9444 25.9771 19.0709 26 19.0001C26.0229 18.9293 26.0042 19.0749 26 19.0001C25.8782 16.4971 24.2398 15.1304 22 15.0001Z" />
                  </svg>
                </a>
              </li>
              <li class="footer__socials-item">
                <a class="footer__socials-link hover-link" href="#" target="_blank" aria-label="Телеграм">
                  <svg width="40" height="45" viewBox="0 0 40 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M38.9998 0.999894C38.6406 0.610775 38.4678 0.102242 37.9998 -0.000106439C37.5317 -0.102455 36.4432 -0.213733 35.9998 -0.000106439L1.99977 16.9999C1.47346 17.2549 0.297635 18.4002 -0.000231847 18.9999C-0.298099 19.5995 -0.0505756 20.2967 -0.000231847 20.9999C0.0501119 21.703 0.621457 21.476 0.999768 21.9999C1.37808 22.5238 1.44561 22.8659 1.99977 22.9999L10.9998 25.9999V39.9999C11.0004 40.641 11.7155 41.4665 11.9998 41.9999C12.2841 42.5333 12.5269 42.7526 12.9998 42.9999C13.3186 43.1624 13.6555 42.9935 13.9998 42.9999C14.3417 43.0025 14.6839 43.1635 14.9998 42.9999C15.3157 42.8362 15.7594 42.3041 15.9998 41.9999L20.9998 35.9999L28.9998 43.9999C29.4694 44.5266 29.369 45.003 29.9998 44.9999C30.2715 45.0027 30.7427 45.1104 30.9998 44.9999C31.4288 44.8293 31.6964 44.416 31.9998 43.9999C32.3031 43.5838 32.9035 42.55 32.9998 41.9999L39.9998 3.99989C40.1045 3.42421 40.1471 2.5608 39.9998 1.99989C39.8525 1.43899 39.357 1.38581 38.9998 0.999894ZM1.99977 19.9999C1.98677 19.9019 1.95892 20.0851 1.99977 19.9999C2.04062 19.9147 2.92454 20.0317 2.99977 19.9999L31.9998 5.99989L11.9998 22.9999L2.99977 20.9999C2.91765 20.9884 2.05466 21.0771 1.99977 20.9999C1.94487 20.9226 1.99926 20.1032 1.99977 19.9999ZM13.9998 39.9999C13.9482 40.0675 14.0732 39.9832 13.9998 39.9999C13.9263 40.0166 14.067 40.0404 13.9998 39.9999C14.0393 40.0741 13.9344 39.9642 13.9998 39.9999C14.0009 40.089 13.9602 39.9257 13.9998 39.9999V27.9999L18.9998 33.9999L13.9998 39.9999ZM30.9998 41.9999C30.9871 42.0805 31.0432 41.9382 30.9998 41.9999C30.9564 42.0616 30.0621 41.9739 29.9998 41.9999C29.9374 42.0259 30.0641 42.0167 29.9998 41.9999C29.9355 41.9831 30.0486 42.0549 29.9998 41.9999L13.9998 24.9999L37.9998 3.99989L30.9998 41.9999Z" />
                  </svg>
                </a>
              </li>
              <li class="footer__socials-item">
                <a class="footer__socials-link hover-link" href="#" target="_blank" aria-label="Фейсбук">
                  <svg width="40" height="45" viewBox="0 0 40 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M37 2H4C3.22562 2 3 3.09288 3 4V41C3 41.9071 3.22562 43 4 43H37C37.7744 43 38 41.9071 38 41V4C38 3.09288 37.7744 2 37 2ZM35 40H27V27H32V21H27V17C27 15.2063 27.8081 14 30 14H33V8C32.5144 7.92312 29.9338 8 28 8C23.9662 8 22 10.7059 22 16V21H17V27H22V40H6V5H35V40Z" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>