@{
	Layout = "master.cshtml";
}
      <main class="main">
        <!-- "Хлебные крошки" -->
        <div class="breadcrumbs articles-breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="index.html">Головна</a>
              </li>
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="#">Статті</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Блок со статьями -->
        <div class="articles-page">
          <div class="container">
            <div class="articles-page__block articles">
              <article class="articles__item">
                <a class="articles__item-image" href="#">
                  <img src="~/images/articles/articles-image1.jpg" alt="Стаття-1">
                </a>
                <div class="articles__item-content">
                  <a class="articles__item-title medium-title" href="#">ЗАГОЛОВОК СТАТТІ</a>
                  <p class="articles__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis exercitationem sed dolores incidunt libero maiores quod nisi eaque recusandae, aut, natus quam pariatur eos? Est aliquid debitis consequatur maiores magni.</p>
                  <p class="articles__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis exercitationem sed dolores incidunt libero maiores quod nisi eaque recusandae, aut, natus quam pariatur eos? Est aliquid debitis consequatur maiores magni.</p>
                  <a class="articles__item-link" href="#">Читати далі...</a>
                </div>
              </article>

              <article class="articles__item">
                <a class="articles__item-image" href="#">
                  <img src="~/images/articles/articles-image2.jpg" alt="Стаття-2">
                </a>
                <div class="articles__item-content">
                  <a class="articles__item-title medium-title" href="#">ЗАГОЛОВОК СТАТТІ</a>
                  <p class="articles__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis exercitationem sed dolores incidunt libero maiores quod nisi eaque recusandae, aut, natus quam pariatur eos? Est aliquid debitis consequatur maiores magni.</p>
                  <p class="articles__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis exercitationem sed dolores incidunt libero maiores quod nisi eaque recusandae, aut, natus quam pariatur eos? Est aliquid debitis consequatur maiores magni.</p>
                  <a class="articles__item-link" href="#">Читати далі...</a>
                </div>
              </article>

              <article class="articles__item">
                <a class="articles__item-image" href="#">
                  <img src="~/images/articles/articles-image3.jpg" alt="Стаття-3">
                </a>
                <div class="articles__item-content">
                  <a class="articles__item-title medium-title" href="#">ЗАГОЛОВОК СТАТТІ</a>
                  <p class="articles__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis exercitationem sed dolores incidunt libero maiores quod nisi eaque recusandae, aut, natus quam pariatur eos? Est aliquid debitis consequatur maiores magni.</p>
                  <p class="articles__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis exercitationem sed dolores incidunt libero maiores quod nisi eaque recusandae, aut, natus quam pariatur eos? Est aliquid debitis consequatur maiores magni.</p>
                  <a class="articles__item-link" href="#">Читати далі...</a>
                </div>
              </article>

              <article class="articles__item">
                <a class="articles__item-image" href="#">
                  <img src="~/images/articles/articles-image4.jpg" alt="Стаття-4">
                </a>
                <div class="articles__item-content">
                  <a class="articles__item-title medium-title" href="#">ЗАГОЛОВОК СТАТТІ</a>
                  <p class="articles__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis exercitationem sed dolores incidunt libero maiores quod nisi eaque recusandae, aut, natus quam pariatur eos? Est aliquid debitis consequatur maiores magni.</p>
                  <p class="articles__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis exercitationem sed dolores incidunt libero maiores quod nisi eaque recusandae, aut, natus quam pariatur eos? Est aliquid debitis consequatur maiores magni.</p>
                  <a class="articles__item-link" href="#">Читати далі...</a>
                </div>
              </article>

              <div class="articles__back-wrap">
                <a class="articles__back" href="index.html">На Головну</a>
              </div>
            </div>
          </div>
        </div>


      </main>