@{
	Layout = "master.cshtml";
}
      <main class="main">
        <!-- "Хлебные крошки" -->
        <div class="breadcrumbs design-breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="index.html">Головна</a>
              </li>
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="#">Дизайн пам’ятнику</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Блок с дизайнами памятников -->
        <div class="design-section">
          <div class="container">
            <div class="design-section__block">
              <div class="design-section__column">
                <a class="design-section__item" href="#">
                  <div class="design-section__item-image">
                    <img src="./images/design/design-image1.jpg" alt="Дизайн-1">
                  </div>
                  <p class="design-section__item-title">Д1</p>
                </a>
              </div>
              <div class="design-section__column">
                <a class="design-section__item" href="#">
                  <div class="design-section__item-image">
                    <img src="./images/design/design-image2.jpg" alt="Дизайн-2">
                  </div>
                  <p class="design-section__item-title">Д2</p>
                </a>
              </div>
              <div class="design-section__column">
                <a class="design-section__item" href="#">
                  <div class="design-section__item-image">
                    <img src="./images/design/design-image3.jpg" alt="Дизайн-3">
                  </div>
                  <p class="design-section__item-title">Д3</p>
                </a>
              </div>
              <div class="design-section__column">
                <a class="design-section__item" href="#">
                  <div class="design-section__item-image">
                    <img src="./images/design/design-image4.jpg" alt="Дизайн-4">
                  </div>
                  <p class="design-section__item-title">Д4</p>
                </a>
              </div>
              <div class="design-section__column">
                <a class="design-section__item" href="#">
                  <div class="design-section__item-image">
                    <img src="./images/design/design-image5.jpg" alt="Дизайн-5">
                  </div>
                  <p class="design-section__item-title">Д5</p>
                </a>
              </div>
            </div>

            <!-- Пагинация -->
            <div class="pagination">
              <div class="container">
                <div class="pagination__inner">
                  <a class="pagination__button prev" href="#" aria-label="Попередній розділ"></a>
                  <ul class="pagination__list">
                    <li class="pagination__list-item">
                      <a class="pagination__list-link active" href="#">1</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">2</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">3</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">...</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">12</a>
                    </li>
                  </ul>
                  <a class="pagination__button next" href="#" aria-label="Наступний розділ"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>