@{
	Layout = "master.cshtml";
}
      <main class="main">
        <!-- "Хлебные крошки" -->
        <div class="breadcrumbs memorials-single-breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="index.html">Головна</a>
              </li>
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="#">Пам‘ятники</a>
              </li>
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="#">Одинарні</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Блок с одинарными памятниками -->
        <div class="memorials-single">
          <div class="container">
            <div class="memorials-single__block memorial-block inner-page">
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image1.png" data-caption="Пам'ятник одинарний 'O1'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image">
                    <img src="./images/memorials-single/memorials-single-image1.png" alt="O1">
                  </div>
                  <p class="memorial-block__item-title"><span>O1</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image2.png" data-caption="Пам'ятник одинарний 'O2'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-single/memorials-single-image2.png" alt="O2">
                  </div>
                  <p class="memorial-block__item-title"><span>O2</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image3.png" data-caption="Пам'ятник одинарний 'O3'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image">
                    <img src="./images/memorials-single/memorials-single-image3.png" alt="O3">
                  </div>
                  <p class="memorial-block__item-title"><span>O3</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image4.png" data-caption="Пам'ятник одинарний 'O4'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image">
                    <img src="./images/memorials-single/memorials-single-image4.png" alt="O4">
                  </div>
                  <p class="memorial-block__item-title"><span>O4</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image5.png" data-caption="Пам'ятник одинарний 'O5'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-single/memorials-single-image5.png" alt="O5">
                  </div>
                  <p class="memorial-block__item-title"><span>O5</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image6.png" data-caption="Пам'ятник одинарний 'O6'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-single/memorials-single-image6.png" alt="O6">
                  </div>
                  <p class="memorial-block__item-title"><span>O6</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image7.png" data-caption="Пам'ятник одинарний 'O7'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-single/memorials-single-image7.png" alt="O7">
                  </div>
                  <p class="memorial-block__item-title"><span>O7</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image8.png" data-caption="Пам'ятник одинарний 'O8'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-single/memorials-single-image8.png" alt="O8">
                  </div>
                  <p class="memorial-block__item-title"><span>O8</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image9.png" data-caption="Пам'ятник одинарний 'O9'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-single/memorials-single-image9.png" alt="O9">
                  </div>
                  <p class="memorial-block__item-title"><span>O9</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-single/memorials-single-image10.png" data-caption="Пам'ятник одинарний 'О10'" data-fancybox="single-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-single/memorials-single-image10.png" alt="O10">
                  </div>
                  <p class="memorial-block__item-title"><span>O10</span></p>
                </a>
              </div>           
            </div>

            <!-- Пагинация -->
            <div class="pagination">
              <div class="container">
                <div class="pagination__inner">
                  <a class="pagination__button prev" href="#" aria-label="Попередній розділ"></a>
                  <ul class="pagination__list">
                    <li class="pagination__list-item">
                      <a class="pagination__list-link active" href="#">1</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">2</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">3</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">...</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">12</a>
                    </li>
                  </ul>
                  <a class="pagination__button next" href="#" aria-label="Наступний розділ"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>