@{
	Layout = "master.cshtml";
}
      <main class="main">
        <!-- "Хлебные крошки" -->
        <div class="breadcrumbs memorials-double-breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="index.html">Головна</a>
              </li>
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="#">Пам‘ятники</a>
              </li>
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="#">Подвійні</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Блок с двойными памятниками -->
        <div class="memorials-double">
          <div class="container">
            <div class="memorials-double__block memorial-block inner-page">
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image1.png" data-caption="Пам'ятник подвійний 'П1'" data-caption="1111" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image1.png" alt="П1">
                  </div>
                  <p class="memorial-block__item-title"><span>П1</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image2.png" data-caption="Пам'ятник подвійний 'П2'" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image2.png" alt="П2">
                  </div>
                  <p class="memorial-block__item-title"><span>П2</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image3.png" data-caption="Пам'ятник подвійний 'П3'" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image3.png" alt="П3">
                  </div>
                  <p class="memorial-block__item-title"><span>П3</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image4.png" data-caption="Пам'ятник подвійний 'П4'" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image4.png" alt="П4">
                  </div>
                  <p class="memorial-block__item-title"><span>П4</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image5.png" data-caption="Пам'ятник подвійний 'П5'" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image5.png" alt="П5">
                  </div>
                  <p class="memorial-block__item-title"><span>П5</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image6.png" data-caption="Пам'ятник подвійний 'П6'" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image6.png" alt="П6">
                  </div>
                  <p class="memorial-block__item-title"><span>П6</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image7.png" data-caption="Пам'ятник подвійний 'П7'" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image7.png" alt="П7">
                  </div>
                  <p class="memorial-block__item-title"><span>П7</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image8.png" data-caption="Пам'ятник подвійний 'П8'" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image8.png" alt="П8">
                  </div>
                  <p class="memorial-block__item-title"><span>П8</span></p>
                </a>
              </div>
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-double/memorials-double-image9.png" data-caption="Пам'ятник подвійний 'П9'" data-fancybox="double-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-double/memorials-double-image9.png" alt="П9">
                  </div>
                  <p class="memorial-block__item-title"><span>П9</span></p>
                </a>
              </div>          
            </div>

            <!-- Пагинация -->
            <div class="pagination">
              <div class="container">
                <div class="pagination__inner">
                  <a class="pagination__button prev" href="#" aria-label="Попередній розділ"></a>
                  <ul class="pagination__list">
                    <li class="pagination__list-item">
                      <a class="pagination__list-link active" href="#">1</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">2</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">3</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">...</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">12</a>
                    </li>
                  </ul>
                  <a class="pagination__button next" href="#" aria-label="Наступний розділ"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
