@{
	Layout = "master.cshtml";
}
      <main class="main">
        <!-- "Хлебные крошки" -->
        <div class="breadcrumbs memorials-elite-breadcrumbs">
          <div class="container">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="index.html">Головна</a>
              </li>
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="#">Пам‘ятники</a>
              </li>
              <li class="breadcrumbs__list-item">
                <a class="breadcrumbs__list-link" href="#">Елітні</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Блок с элитными памятниками -->
        <div class="memorials-elite">
          <div class="container">
            <div class="memorials-elite__block memorial-block inner-page">
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-elite/memorials-elite-image1.png" data-caption="Пам'ятник елітний 'Е1'" data-fancybox="elite-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-elite/memorials-elite-image1.png" alt="E1">
                  </div>
                  <p class="memorial-block__item-title"><span>E1</span></p>
                </a>
              </div>         
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-elite/memorials-elite-image2.png" data-caption="Пам'ятник елітний 'Е2'" data-fancybox="elite-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-elite/memorials-elite-image2.png" alt="E2">
                  </div>
                  <p class="memorial-block__item-title"><span>E2</span></p>
                </a>
              </div>  
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-elite/memorials-elite-image3.png" data-caption="Пам'ятник елітний 'Е3'" data-fancybox="elite-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-elite/memorials-elite-image3.png" alt="E3">
                  </div>
                  <p class="memorial-block__item-title"><span>E3</span></p>
                </a>
              </div>  
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-elite/memorials-elite-image4.png" data-caption="Пам'ятник елітний 'Е4'" data-fancybox="elite-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-elite/memorials-elite-image4.png" alt="E4">
                  </div>
                  <p class="memorial-block__item-title"><span>E4</span></p>
                </a>
              </div>  
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-elite/memorials-elite-image5.png" data-caption="Пам'ятник елітний 'Е5'" data-fancybox="elite-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-elite/memorials-elite-image5.png" alt="E5">
                  </div>
                  <p class="memorial-block__item-title"><span>E5</span></p>
                </a>
              </div>  
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-elite/memorials-elite-image6.png" data-caption="Пам'ятник елітний 'Е6'" data-fancybox="elite-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-elite/memorials-elite-image6.png" alt="E6">
                  </div>
                  <p class="memorial-block__item-title"><span>E6</span></p>
                </a>
              </div>  
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-elite/memorials-elite-image7.png" data-caption="Пам'ятник елітний 'Е7'" data-fancybox="elite-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-elite/memorials-elite-image7.png" alt="E7">
                  </div>
                  <p class="memorial-block__item-title"><span>E7</span></p>
                </a>
              </div>  
              <div class="memorial-block__column">
                <a class="memorial-block__item" href="./images/memorials-elite/memorials-elite-image8.png" data-caption="Пам'ятник елітний 'Е8'" data-fancybox="elite-gallery">
                  <div class="memorial-block__item-image bottom">
                    <img src="./images/memorials-elite/memorials-elite-image8.png" alt="E8">
                  </div>
                  <p class="memorial-block__item-title"><span>E8</span></p>
                </a>
              </div>  
            </div>

            <!-- Пагинация -->
            <div class="pagination">
              <div class="container">
                <div class="pagination__inner">
                  <a class="pagination__button prev" href="#" aria-label="Попередній розділ"></a>
                  <ul class="pagination__list">
                    <li class="pagination__list-item">
                      <a class="pagination__list-link active" href="#">1</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">2</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">3</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">...</a>
                    </li>
                    <li class="pagination__list-item">
                      <a class="pagination__list-link" href="#">12</a>
                    </li>
                  </ul>
                  <a class="pagination__button next" href="#" aria-label="Наступний розділ"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>