@{
	Layout = "master.cshtml";
}
      <main class="main">
        <section class="page-404">
          <div class="container">
            <div class="page-404__inner">
              <img class="page-404__image" src="~/images/page-404-image.png" alt="Сторінка 404, картинка">
              <div class="page-404__content">
                <h1 class="page-404__title">Упс!</h1>
                <p class="page-404__text">Щось пішло не так, <span>але ми вже вирішуємо проблему.</span></p>
                <a class="page-404__link link-outlined" href="index.html">На головну</a>
              </div>
            </div>
          </div>
        </section>
      </main>